* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 60%;
    margin: 0 auto;
    background-color: #fff;
}

.stars input {
    position: absolute;
    left: -999999px;
}

.stars a {
    display: inline-block;
    padding-right:4px;
    text-decoration: none;
    margin:0;
}

.stars a:after {
    position: relative;
    font-size: 18px;
    font-family: 'FontAwesome', serif;
    display: block;
    content: "\f005";
    color: #9e9e9e;
}



.stars a:hover ~ a:after{
    color: #9e9e9e !important;
}
span.active a.active ~ a:after{
    color: #9e9e9e;
}

span:hover a:after{
    color:blue !important;
}

span.active a:after,
.stars a.active:after{
    color:blue;
}

header {
    padding: 20px 20px;
}

h1 {
    font-size: 80px;
    color: #1b1c25;
    margin-bottom: 10px;
}

span {
    margin-left: 10px;
    color: #c05555;
}

h2 {
    color: #556052;
    font-weight: 300;
    font-size: 30px;
}

.navigation {
    background-color: #59886b;
    padding: 5px 20px;
}

ul {
    display: flex;
    list-style-type: none;
}

ul li {
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 20px;
    margin: 0 10px 0 10px;
    border-right: 2px solid black;
    font-weight: bold;
    font-size: 12px;
}
ul li:last-child{
    border: none;
}

.navigation a {
    color: #fff8c1;

    font-size: 14px;
    text-decoration: none;
}

.active-link {
    color: #d3cea6;
}

.search {
    padding: 30px 20px;
}

.search-form {
    display: flex;
}

.iframe-map {
    padding: 0 20px;
}


h3 {
    color: #556052;
    margin-bottom: 10px;
    font-size: 22px;
}

h4 {
    color: #fff;
    font-size: 30px;
    text-align: center;
}

input {
    background-color: #f3f1f7;
    border: none;
    padding: 5px;
    font-size: 16px;
    width: 150px;
    margin-right: 5px;
}

footer {
    background-color: #59886b;
    padding: 20px 20px;
}

.icon-home {
    width: 15px;
    height: 15px;
    margin-right: 7px;
    align-self: center;
    color: #fff8c1;
}

.navigation-home {
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn {
    height: 45px;
    background-color: #f3f1f7;
    width: 60px;
}

.btn a {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #59886b;
}

.btn:last-of-type {
    margin-left: 2px;
}

.btn-right {
    font-size: 40px;
}

.btn-location {
    font-size: 30px;
    margin-top: 5px;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footer-link {
    color: #fff8c1;
    font-size: 30px;
    margin-right: 10px;
}

.search_results {
    margin-top: -10px;
    display: none;
}

h5 {
    font-size: 16px;
    color: #556052;
    margin-left: 20px;
    margin-bottom: 10px;
}
label h5{
    margin: 0;
}

div.stars {
    width: 200px;
    display: inline-block;
}

input.star { display: none; }

label.star {
    float: right;
    padding: 10px;
    font-size: 20px;
    color: #444;
    transition: all .2s;
}

input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}