<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<div class="container">
    <header>
        <h1 onclick="location.href='https://fuel-updians.herokuapp.com';" style="cursor: pointer; ">Fuel<span>UP</span></h1>
        <h2>Find Your Nearest Petrol Station</h2>
    </header>
    <nav class="navigation">
        <ul>
            <li>
                <a href="#" class="navigation-home">
                    <ion-icon name="compass" class="icon-home"></ion-icon>
                </a>

                <label id="btn1">ALL FUEL STATIONS IN MACEDONIA</label>
            </li>
            <li>
                <a href="#" class="navigation-home">
                    <ion-icon name="compass" class="icon-home"></ion-icon>
                </a>

                <label  id="btn2">NEAREST FUEL STATIONS AROUND YOU</label>
            </li>
            <li>
                <a href="#" class="navigation-home">
                    <ion-icon name="compass" class="icon-home"></ion-icon>
                </a>

                <label  id="btn3">NEAREST FUEL STATION</label>
            </li>
        </ul>
    </nav>
    <section class="search">
        <h3>Find the nearest petrol stations by name</h3>
        <div class="search-form">
            <input placeholder="Enter Name" id="enterName" />
            <div class="btn">
                <a href="#">
                    <ion-icon name="chevron-forward" class="btn-right"></ion-icon>
                </a>
            </div>
            <div class="btn">
                <a href="#">
                    <ion-icon name="location" class="btn-location"></ion-icon>
                </a>
            </div>
        </div>
    </section>
    <div class="iframe-map">
        <div id="map" style="height: 440px; border: 1px solid #AAA;"></div>
    </div>
    <footer>
        <h4>Contact Us</h4>
        <div class="social-links">
            <a href="#" class="footer-link">
                <ion-icon name="logo-facebook"></ion-icon>
            </a>
            <a href="#" class="footer-link">
                <ion-icon name="logo-twitter"></ion-icon>
            </a>
            <a href="#" class="footer-link">
                <ion-icon name="logo-instagram"></ion-icon>
            </a>
        </div>
    </footer>
</div>
<script>
    const map = L.map('map', {
        center: [41.6086, 21.7453],
        minZoom: 2,
        zoom: 8
    });
    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        subdomains: ['a', 'b', 'c']
    }).addTo(map);
</script>
</body>
</html>
